 
 #titulo-recuento{
    text-align: center;
    margin: 50px;
 }
 .title-graph{
    text-align: center;
    font-size: 30px;
    margin: 10px;
 }

 body{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.winner{
    text-align: center;
} 

.donut{
    width: 30%;
}

.chart-container{
    height: 90%;
}
