
<h1 id="titulo-recuento" class="p-3 text-primary-emphasis bg-primary-subtle border border-primary-subtle rounded-3">RECUENTO VOTACION</h1>

    <div class="winner">
        <div class="card text-bg-dark">
            <img src="../../../pinguino.jpg" class="card-img" alt="...">
            <div class="card-img-overlay">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <p class="card-text"><small>Last updated 3 mins ago</small></p>
            </div>
          </div>

    </div>
    <div>
        <h1>prueba</h1>
        <div class="chart-container">
            <canvas  id="MyChart" >{{ chart }}</canvas>
      </div>
    </div>
        
    <div class="exit position-absolute top-0 end-0">
      <div class="exit">
        <button class="btn btn-secondary" (click)="exit()">Salir</button>
      </div>
    </div>


