<h1 id="titulo-recuento">Recuento de Votación</h1>
    <div class="container">
        <div class="donut">
            <div class="title-graph">Gráfico de Votos</div>
            <div class="chart-container">
                <canvas id="MyChart">{{ chart }}</canvas>
            </div>
        </div>
        <div class="winner card">
            <div class="card-content">
                <h5 class="card-title">Ganador</h5>
                <ul class="list-unstyled">
                    <li>Lista N°: 1</li>
                    <li>Nombre Lista: Lista A</li>
                    <li>Presidente: Nombre del Presidente</li>
                    <li>Vicepresidente: Nombre del Vicepresidente</li>
                </ul>
                <p><small>Última actualización hace 3 minutos</small></p>
            </div>
        </div>
        <div class="exit position-absolute top-0 end-0">
            <button class="btn btn-secondary" (click)="exit()">Salir</button>
        </div>
    </div>