<h1 id="titulo-recuento">Recuento de la Elección: <span class="important-text">{{ electionName }}</span></h1>
    <div class="container">
        <div class="donut">
            <div class="title-graph">Gráfico de Votos</div>
            <div class="chart-container">
                <canvas id="MyChart">{{ chart }}</canvas>
            </div>
        </div>
        <div class="winner card">
            <div class="card-content">
                <h5 class="card-title">Ganador</h5>
                <ul class="list-unstyled">
                    <li>Lista N°: <span class="important-text">{{ idList }}</span></li>
                    <li>Nombre de la Lista: <span class="important-text">{{ descriptionList }}</span></li>
                    <li><span class="important-text">{{ completeName1 }}</span></li>
                    <li><span class="important-text">{{ completeName2 }}</span></li>
                    <li><span class="important-text">{{ completeName3 }}</span></li>
                </ul>
            </div>
        </div>
        <div class="exit position-absolute top-0 end-0">
            <button class="btn btn-secondary" (click)="exit()">Salir</button>
        </div>
    </div>