<table class="table table-hover" >
    <thead >
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Descripción</th>
        <th scope="col">Seleccionar</th>
      </tr>
    </thead>
    <tbody class="table-group-divider" >

      <tr *ngFor="let vote of voting; let i = index">
        <th scope="row">{{vote.id}}</th>
        <td>{{vote.description}}</td>
        <td><button class="btn btn-secondary" (click)="seeList(vote.id)">Ir a votar</button></td>
      </tr>
    </tbody>
  </table>
  <div><button  (click)="exit()" class="btn btn-danger">Salir</button></div>
