<div class="container">
    <div class="row">
      <div class="col">
        <div *ngIf="idList === 1">
            <div class="row">
                <h1 class="card-title">Propuestas: ...............</h1> 
                <h2>Participantes:................</h2>

            </div>
        </div>
        <div *ngIf="idList === 2">
            <div class="row">
                <h1 class="card-title">Propuestas: ...............</h1> 
                <h2>Participantes:................</h2>

            </div>
        </div>
        <div *ngIf="idList === 3">
            <div class="row">
                <h1 class="card-title">Propuestas: ...............</h1> 
                <h2>Participantes:................</h2>

            </div>
        </div>
        <div *ngIf="idList === 4">
            <div class="row">
                <h1 class="card-title">Propuestas: ...............</h1> 
                <h2>Participantes:................</h2>

            </div>
        </div>
      </div>
    </div>
  </div>