<div class="exit position-absolute top-0 end-0">
  <div class="exit">
    <button class="btn btn-secondary" (click)="exit()">Salir</button>
  </div>
</div>
<div class="container">
    <div class="row justify-content-center align-items-center" style="height: 100vh;">
      <div class="col-12 col-lg-6">
        <div class="card">
          <div class="card-body">
            <h1 class="text-center">Cargar Candidatos</h1>
            <form [formGroup]="loadCandidate" (ngSubmit)="submitForm()">
              <div class="mb-3">
                <label class="visually-hidden" for="inputDNI">DNI</label>
                <div class="input-group">
                  <div class="input-group-text">D</div>
                  <input type="text" class="form-control" id="inputDNI" placeholder="DNI" formControlName="dni">
                </div>
              </div>
              <div class="text-center">
                <div class="button-container">
                  <button type="submit" class="btn btn-primary">Cargar y Salir</button>
                </div>
                <div class="button-container">
                  <button type="submit" class="btn btn-secondary" (click)="reload()">Cargar Nuevo Candidato</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  