<body class="body">
    <div class="position-absolute top-0 end-0 p-3">
        <button class="btn btn-primary" (click)="enterAdmin()">Ingreso Admin</button>
    </div>
    <div class="row mt-3 text-center align-items-center">
        <div class="col"></div>
        <div class="col-10 col-sm-6 col-md-5 col-lg-4">
            <h1>Vote App</h1>
            <form [formGroup]="userForm" (ngSubmit)="forUser()">
                <div>
                    <label for="floatingDNI"></label>
                    <div class="login">
                    <input type="text" class="form-control" id="DNI" formControlName="DNI" placeholder="DNI"
                        [class.is-invalid]="userForm.get('DNI')?.touched && userForm.get('DNI')?.invalid"
                        [class.is-valid]="userForm.get('DNI')?.touched && userForm.get('DNI')?.valid">
                    
                    <div *ngIf="userForm.get('DNI')?.touched && userForm.get('DNI')?.hasError('required')"
                        class="invalid-feedback">
                        Este campo es obligatorio.
                    </div>
                    <div *ngIf="userForm.get('DNI')?.touched && userForm.get('DNI')?.hasError('pattern')"
                        class="invalid-feedback">
                        Ingrese un DNI válido.
                    </div>
                    </div>
                </div>
                <div class="button-container">
                    <button type="submit" class="btn btn-primary btn-lg mb-3" (click)="forUser()">Iniciar sesión</button>
                </div>
                <div *ngIf="showAlert" class="alert">
                    <alert type="danger">
                        <strong>Usuario no registrado</strong> 
                    </alert>
                </div>
            </form>
        </div>
        <div class="col"></div>
    </div>
</body>
