<body>
    <div class="row mt-3 text-center">
        <div class="col"></div>
        <div class="col-10 col-sm-6">
            <h1 class="mb-4">Administrador</h1>

            <nav class="navbar navbar-expand-lg rounded">
                <div class="container-fluid">
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <select class="form-select mx-3">
                            <option selected>Gestor de Votaciones</option>
                            <option value="1">Carga Alumnos</option>
                            <option value="2">Carga Listas</option>
                            <option value="3">Iniciar Votaciones</option>
                            <option value="4">Finalizar Votaciones</option>
                            <option value="5">Recuento de Votos</option>
                        </select>
                        <div class="d-flex">
                            <button class="btn btn-outline-custom" (click)="salir()">Salir</button>
                        </div>
                    </div>
                    
                </div>
            </nav>
            <div class="button-container">
            <button type="button" class="btn btn-success btn-lg mb-3"  >
                Aceptar
            </button>
        </div>
        </div>
        <div class="col"></div>
    </div>

  
</body>
