
.navbar .form-select {
    border: none;
}

.btn-outline-custom {
    border-color: #dc3545;
    color: #dc3545;
}

.btn-outline-custom:hover {
    background-color: #dc3545;
    color: #fff;
}
.button-container{
    margin-top:30px;
}
.custom-select{
    border: 1px solid #ccc;
    border-radius: 5px; 
    padding: 5px;
}
