<body>
    <div class="row mt-3 text-center">
        <div>
            <h1 class="mb-4">Administrador</h1>
            <div >
                <div class="btn-group">
                    <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                      Menu admin
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end">
                      <li><button class="dropdown-item" type="button">Dar de Alta Alumnos</button></li>
                      <li><button class="dropdown-item" type="button">Dar de Alta Listas</button></li>
                      <li><button class="dropdown-item" type="button">Iniciar Votación</button></li>
                      <li><button class="dropdown-item" type="button">Finalizar Votación</button></li>
                      <li><button class="dropdown-item" type="button">Recuento de Votos</button></li>
                    </ul>
                    <button class="btn btn-outline-custom" (click)="salir()">Salir</button>
                  </div>
               
           
        </div>
            <div class="button-container">
            <button type="button-aceptar" class="btn btn-success btn-lg mb-3"  >
                Aceptar
            </button>
        </div>
        </div>
        <div class="col"></div>
    </div>

  
</body>
