<div class="exit">
  <button class="btn btn-info" (click)="exit()">Salir</button>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-6 mx-auto text-center">
      <h1 class="tit">Carga Alumnos</h1>
      <br />
      <form [formGroup]="loadStudent" (ngSubmit)="load()">
        <div class="border p-3">
          <div class="mb-3">
            <div class="input-group mb-3">
              <span class="input-group-text" id="basic-addon1">N</span>
              <input
                [class.is-invalid]="loadStudent.get('studentName')?.touched && loadStudent.get('studentName')?.errors?.['required']"
                type="text"
                class="form-control"
                placeholder="Nombre"
                aria-label="Name"
                aria-describedby="basic-addon1"
                formControlName="studentName"
              />
            </div>
          </div>
          <div class="mb-3">
            <div class="input-group mb-3">
              <span class="input-group-text" id="basic-addon1">A</span>
              <input
                [class.is-invalid]="loadStudent.get('studentLastname')?.touched && loadStudent.get('studentLastname')?.errors?.['required']"
                type="text"
                class="form-control"
                placeholder="Apellido"
                aria-label="Lastname"
                aria-describedby="basic-addon1"
                formControlName="studentLastname"
              />
            </div>
          </div>
          <div class="mb-3">
            <div class="input-group mb-3">
              <span class="input-group-text" id="basic-addon1">DNI</span>
              <input
                [class.is-invalid]="loadStudent.get('studentID')?.touched && loadStudent.get('studentID')?.errors?.['required']"
                type="text"
                class="form-control"
                placeholder="DNI"
                aria-label="ID"
                aria-describedby="basic-addon1"
                formControlName="studentID"
              />
            </div>
          </div>
          <div class="mb-3">
            <div class="input-group mb-3">
              <span class="input-group-text" id="basic-addon1">Email</span>
              <input
                [class.is-invalid]="
                  loadStudent.get('studentEmail')?.touched &&
                  loadStudent.get('studentEmail')?.invalid
                "
                [class.is-valid]="
                  loadStudent.get('studentEmail')?.touched &&
                  loadStudent.get('studentEmail')?.valid
                "
                type="text"
                class="form-control"
                placeholder="Email"
                aria-label="Email"
                aria-describedby="basic-addon1"
                formControlName="studentEmail"
              />
              <div
                *ngIf="
                  loadStudent.get('studentEmail')?.touched &&
                  loadStudent.get('studentEmail')?.hasError('pattern')
                "
                class="invalid-feedback"
              >
                Ingrese un email de la forma: usuario@dominio.com.
              </div>
            </div>
          </div>
          <div class="mb-3">
            <div class="input-group mb-3">
              <span class="input-group-text" id="basic-addon1">D</span>
              <input
                [class.is-invalid]="loadStudent.get('studentAddress')?.touched && loadStudent.get('studentAddress')?.errors?.['required']"
                type="text"
                class="form-control"
                placeholder="Direccion"
                aria-label="Address"
                aria-describedby="basic-addon1"
                formControlName="studentAddress"
              />
            </div>
          </div>
          <div class="mb-3">
            <div class="input-group mb-3">
              <span class="input-group-text" id="basic-addon1">C</span>
              <input
                [class.is-invalid]="loadStudent.get('studentPhone')?.touched && loadStudent.get('studentPhone')?.errors?.['required']"
                type="text"
                class="form-control"
                placeholder="Número Celular"
                aria-label="PhoneNumber"
                aria-describedby="basic-addon1"
                formControlName="studentPhone"
              />
            </div>
          </div>
          <div class="mb-3">
            <div class="input-group mb-3">
              <label class="input-group-text" for="inputGroupSelect01"
                >Curso</label
              >
              <select
                class="form-select"
                id="inputGroupSelect01"
                formControlName="studentCourse"
              >
                <option *ngFor="let option of options" [value]="option.value">
                  {{ option.label }}
                </option>
              </select>
            </div>
          </div>

          <button type="Submit" class="btn btn-primary">Enviar</button>
        </div>
      </form>
    </div>
  </div>
</div>
