
.container text-center {
    display: flex;
    justify-content: space-between; 
    margin-bottom: 20px; 
    flex-wrap: wrap;
  }
  .exit{
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 100%;

  }