
<body>
    <div class="row mt-3 text-center">
        <div class="col"></div>
        <div class="col-10 col-sm-6">
            <h1>Bienvenido</h1>
            <br><p class="p">{{nombre}}</p>
            <p class="p">DNI: {{dni}}</p>
            <h5>Seleccione una lista para votar:</h5>
        <app-listas></app-listas>

      
        
        <div class="button-container">
        <button type="button" class="btn btn-success btn-lg mb-3"  (click)="openModal(template)"  > 
            Registrar voto
        </button>
        
        <ng-template #template>
           
            <div class="modal-body text-center">
              <p>¿Esta seguro de lo que seleccionó?</p>
              <button type="button" class="btn btn-default"  (click)="confirm()">Si</button>
              <button type="button" class="btn btn-primary"  (click)="decline()">No</button>
            </div>
          </ng-template>

        <button type="button" class="btn btn-secondary btn-lg mb-3" 
                 (click)="cancelar()">
            Volver
        </button>
    </div>
        </div>
        <div class="col"></div>
    </div>

</body>

