.listas{
    display: flex;
    flex-wrap: wrap;
}


.p{
    font-size: 20px;
    font-weight:inherit;
}
.button-container{
    text-align: center;
    display: flex;
    justify-content: center;
        .exit-button{
            margin-left: 15px;
        }
}
.modal-body {
    padding: 20px; 
  }


  .container text-center {
    display: flex;
    justify-content: space-between; 
    margin-bottom: 20px; 
    flex-wrap: wrap;
  }
  .selected-card {
    border: 2px solid #007bff; 
  }
  
  .selected-list {
    font-weight: bold;
  }