<div class="row mt-3 text-center">
    <div class="col"></div>
    <div class="col-10 col-sm-6">
        <h1>Bienvenido</h1>
        <br><p class="p">{{completeName.name}}, {{completeName.last_name}}</p>
        <p class="p">DNI: {{userDNI}}</p>
        <h5>Seleccione una lista para votar:</h5>
        
        <form action="openModal(template)" class="form-inline needs-validation" id="form" method="post" novalidate>
         
                <div class="row">
                    <div class="container text-center">
                        <h1>Listas de la elección: {{ id }}</h1>
                        <div class="row">
                          <div *ngFor="let member of members; let i = index" class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3">
                            <div class="card" [ngClass]="{'selected-card': member.selected}">
                              <div class="card-body" [id]="member.id" (click)="selectMembers(member)">
                                <ul class="list-unstyled">
                                  <li>{{ member.id }}</li>
                                  <li>{{ member.description }}</li>
                                  <li>{{member.rol1_id}}</li>
                                  <li>{{member.rol2_id}}</li>
                                  <li>{{member.rol3_id}}</li>
                                </ul>
                                <button class="btn btn-primary">Seleccionar</button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                </div>
           
            <div class="button-container text-center">
                <button type="button" class="btn btn-success " (click)="openModal(template)"> 
                    Registrar voto
                </button>
                <div class="exit-button">
                    <button type="button" class="btn btn-secondary " (click)="cancel()">
                        Volver
                    </button>
                </div>
            </div>
        </form>

        <ng-template #template>
            <div class="modal-body text-center">
                <p>¿Está seguro de lo que seleccionó?</p>
                <button type="button" class="btn btn-default" (click)="confirm()">Si</button>
                <button type="button" class="btn btn-primary" (click)="decline()">No</button>
            </div>
        </ng-template>
    </div>
    <div class="col"></div>
</div>