

<h1 class="tit">Ingreso Administrador</h1>
<body>
    
    <div class="login-container">
        <form (ngSubmit)="alAdmin()">
            <div class="form-group">
                <label for="exampleInputUser1">Usuario</label>
                <input type="text" class="form-control" id="exampleInputUser1" 
                aria-describedby="userHelp" placeholder="Ingresar Usuario" [(ngModel)]="cuadroUser" name="user">
                <small id="UserHelp" class="form-text text-muted"></small>
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" 
                id="exampleInputPassword1" placeholder="Password" [(ngModel)]="cuadroPassword" name="password">
            </div>
            <div class="form-group form-check" >
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Guardar</label>
            </div>
            <div class="button-group">
            <button type="submit" class="btn btn-primary">Ingresar</button>
            <button type="submit" class="btn btn-secundary border border-blue" (click)="exit()">Salir</button>
        </div>
        </form>
    </div>
    
  
</body>
