<div class="exit position-absolute top-0 end-0">
  <div class="exit">
    <button class="btn btn-secondary" (click)="exit()">Salir</button>
  </div>
</div>
<div class="centered">
  <div class="collapsed">
    <button type="button" class="btn btn-primary" (click)="isCollapsed = !isCollapsed"
            [attr.aria-expanded]="!isCollapsed" aria-controls="collapseBasic">Cargar Lista
    </button>
    <hr>
    <div id="collapseBasic" [collapse]="isCollapsed" [isAnimated]="true">
      <div class="well well-lg card card-block card-header">
          <form [formGroup]="loadList" (ngSubmit)="load()">
            <div class="input-group mb-3">
              <span class="input-group-text" id="basic-addon1">P</span>
              <input [class.is-invalid]="loadList.get('presidentID')?.touched && loadList.get('presidentID')?.errors?.['required']" 
              type="text" class="form-control" placeholder="President ID" aria-label="President ID" aria-describedby="basic-addon1"
              formControlName="presidentID">
            </div>
            <div class="input-group mb-3">
              <span class="input-group-text" id="basic-addon1">V</span>
              <input [class.is-invalid]="loadList.get('vpID')?.touched && loadList.get('vpID')?.errors?.['required']" type="text" class="form-control" placeholder="VicePresident ID" aria-label="VicePresident ID" aria-describedby="basic-addon1"
               formControlName="vpID">
            </div>

            <div class="input-group mb-3">
              <input [class.is-invalid]="loadList.get('sec1ID')?.touched && loadList.get('sec1ID')?.errors?.['required'] "type="text" class="form-control" placeholder="Secretary 1 ID" aria-label="Secretary 1 ID" aria-describedby="basic-addon2"
              formControlName="sec1Name">
              <span class="input-group-text" id="basic-addon2">S</span>
            </div>
            <div class="input-group mb-3">
              <input [class.is-invalid]="loadList.get('sec2ID')?.touched && loadList.get('sec2ID')?.errors?.['required']" type="text" class="form-control" placeholder="Secretary 2 ID" aria-label="Secretary 2 ID" aria-describedby="basic-addon2"
              formControlName="sec2ID">
              <span class="input-group-text" id="basic-addon2">S</span>
            </div>
            <div class="input-group mb-3">
              <input [class.is-invalid]="loadList.get('sec3ID')?.touched && loadList.get('sec3ID')?.errors?.['required']"type="text" class="form-control" placeholder="Secretary 3 ID" aria-label="Secretary 3 ID" aria-describedby="basic-addon2"
              formControlName="sec3ID">
              <span class="input-group-text" id="basic-addon2">S</span>
            </div>
            <div class="mb-3">
            <div class="input-group mb-3">
              <label class="input-group-text" for="inputGroupFile02">Foto Lista</label>
              <input type="file" class="form-control" id="inputGroupFile02"
            formControlName="file">
            </div></div>

            
            <div class="input-group mb-3">
              <input [class.is-invalid]="loadList.get('listName')?.touched && loadList.get('listName')?.errors?.['required']" type="text" class="form-control" placeholder="List Name" aria-label="List Name"
              formControlName="listName">
              <span class="input-group-text">L</span>
            </div>
       
        </form>
      </div>
      <br>
      <button type="button" class="btn btn-primary" (click)="openModal(template)">Cargar</button>
      
      
      <ng-template #template>
      <div class="modal-body text-center">
          <p>¿Quieres Cargar otra Lista?</p>
          <button type="submit" class="btn btn-default" (click)="load()">Yes</button>
          <button type="button" class="btn btn-primary" (click)="decline()" >No</button>
      </div>
      </ng-template>
      <div *ngIf="showModal">
          <alert type="success">
              <strong>{{message}}</strong> 
          </alert>
      </div>
  </div>
  
</div>


