<button class="btn btn-secondary" (click)="exit()">Salir</button>
  <div class="container">
    <div class="row">
      <div class="col-md-6 mx-auto text-center">
        <h1 class="tit">Crear Lista</h1>
        <br> 
        <div class="border p-3">
          <div class="mb-3">
            <form [formGroup]="loadList" (ngSubmit)="loadLista()"> 
              <div class="container">
                <div class="row justify-content-center">
                  <div class="col-12 col-md-6">
                    <div class="input-group mb-3">
                      <span class="input-group-text" id="basic-addon1">N</span>
                      <input type="text" class="form-control" placeholder="Nombre de la Lista" aria-label="description" aria-describedby="basic-addon1" formControlName="description">
                    </div>
                    <div class="input-group mb-3">
                      <span class="input-group-text" id="basic-addon1">P</span>
                      <input type="text" class="form-control" placeholder="DNI Presidente" aria-label="rol1Id" aria-describedby="basic-addon1" formControlName="rol1Id">
                    </div>
                    <div class="input-group mb-3">
                      <span class="input-group-text" id="basic-addon1">V</span>
                      <input type="text" class="form-control" placeholder="DNI VicePresidente" aria-label="rol2Id" aria-describedby="basic-addon1" formControlName="rol2Id">
                    </div>
                    <div class="input-group mb-3">
                      <span class="input-group-text" id="basic-addon1">S</span>
                      <input type="text" class="form-control" placeholder="DNI Secretario" aria-label="rol3Id" aria-describedby="basic-addon1" formControlName="rol3Id">
                    </div>
                  </div>
                </div>
                <button type="submit" class="btn btn-primary" (click)="openModal(confirmModal)"[disabled]="!areCamposCompletos()">Registrar Lista</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

       

<ng-template #confirmModal>
  <div class="modal-header">
    <h4 class="modal-title">¿Qué deseas hacer a continuación?</h4>
  </div>
  <div class="modal-body">
    <p>¿Quieres cargar otra lista o salir al menú?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="load()">Cargar otra lista</button>
    <button type="button" class="btn btn-secondary" (click)="decline()">Salir al menú</button>
  </div>
</ng-template>
